/* index.css */

.btn-status {
    display: flex;
    align-items: center;
    width: 100%; 
}

.status-container {
    padding: 10px;
}

/* Icons and text in buttons */
.btn-status .wd-icon {
    margin-right: 10px;
}

.button-text {
    flex-grow: 1;
}

@media only screen and (max-width: 768px) {
    .course-status {
        display: none; 
    }
}
