.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100%;
  display: flex; 
  flex-direction: column; 
}

.wd-kanbas-navigation .list-group-item {
  padding: 10px;
  font-size: 1.1em;
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.wd-kanbas-navigation .list-group-item a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
}

.wd-kanbas-navigation .list-group-item.active, 
.wd-kanbas-navigation .list-group-item.active a {
  background-color: white;
  color: red !important;
}

.logo-container {
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.logo {
  width: 85px; 
  height: auto;
  object-fit: cover; 
}

.wd-icon {
  font-size: 2em; 
  margin-bottom: 5px;
}
